
packer/variables.json
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
terraform/appuser.pub
terraform/priv
terraform/prod/appuser.pub
terraform/prod/key.json
terraform/stage/appuser.pub
terraform/stage/key.json
*.info
packer/key.json
packer/key.json
terraform/stage/key.json
terraform/stage/appuser.pub
terraform/prod/key.json
terraform/prod/appuser.pub
