cloud_id                 = "b1g5togtASdasddpvoie"
folder_id                = "b1gv355ASDAS2dsaspkgvov0"
zone                     = "ru-central1-a"
image_id                 = "fd84gASaa0v9p1ac4oh8"
public_key_path          = "appuser.pub"
subnet_id                = "e9b9hmASZZt01le47daoe3"
service_account_key_file = "key.json"
private_key              = "priv"

