cloud_id                 = "b1g5togtnenddpvoie"
folder_id                = "b1gv355u3l2dsaspkgvov0"
zone                     = "ru-central1-a"
image_id                 = "fd84gcfskaa0v9p1ac4oh8"
public_key_path          = "appuser.pub"
subnet_id                = "e9b9hmasdt01le47daoe3"
service_account_key_file = "key.json"
private_key              = "priv"